/* ---------- root variables ---------- */
:root {
  --orange: rgb(241, 139, 23);
}

/* PRESET */
html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
}

h1 {
  font-family: 'Neucha';
  font-size: 2em;
  text-align: center;
}

p {
  color: white;
  font-size: 18px;
}

label {
  color: black;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

toast {
  top: 5%;
}

/* LOADER */
.hide {
  visibility: hidden;
  opacity: 0;
  background-color: white;
}

#cooking {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 75vh;
  height: 100vh;
  overflow: hidden;
}

#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #ffb733;
  opacity: 0;
}

#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #ffb224;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #ffac14;
  animation: bubble 2s ease-in-out 0.35s infinite;
}

#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: var(--orange);
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #f09b00;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}

#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #e09100;
  animation: bubble 1.6s ease-in-out 1s infinite;
}

#cooking #area {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid var(--orange);
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}

#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: var(--orange);
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}

#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: var(--orange);
  box-shadow: 0 0 3px 0 var(--orange);
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }

  25% {
    top: 10%;
    transform: rotateX(0deg);
  }

  50% {
    top: 30%;
    transform: rotateX(85deg);
  }

  75% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(85deg);
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-27deg);
  }

  30%, 50% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(27deg);
  }

  83.3% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }

  10% {
    bottom: 40%;
  }

  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }

  80% {
    bottom: 40%;
  }

  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}

@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }

  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}

/* NAVIGATION */
.hide-navbar {
  display: none;
}

.nav-extended {
  background-color: var(--orange);
}

.nav-extended .brand-logo {
  top: 7px;
  left: 19px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.nav-extended .profile-photo {
  width: 100%;
  height: auto;
}

.nav-extended .navbar-login {
  justify-content: flex-end;
}

.nav-extended .navbar-login a {
  margin-left: auto;
  margin-right: 30px;
  font-size: 16px;
  border-bottom: 1px solid white;
  height: 46px;
  cursor: pointer;
}

.nav-extended .fixed-action-btn.direction-left ul, .nav-extended .fixed-action-btn.direction-right ul {
  left: -55px;
  width: 40px;
}

.nav-extended ul a.btn, .nav-extended ul a.btn-large, .nav-extended ul a.btn-small, .nav-extended ul a.btn-large, .nav-extended ul a.btn-flat, .nav-extended ul a.btn-floating {
  margin: 0;
}

.nav-extended .fixed-action-btn.direction-left ul li, .nav-extended .fixed-action-btn.direction-right ul li {
  margin: 3px 0 0 0;
}

/* #log-out-ul {
  width: 100%;
}

.log-out-li {
  margin-bottom: auto;
}

.log-out {
  width: 38px;
  height: 38px;
} */
nav ul a.btn>.material-icons, nav ul a.btn-large>.material-icons, nav ul a.btn-small>.material-icons, nav ul a.btn-large>.material-icons, nav ul a.btn-flat>.material-icons, nav ul a.btn-floating>.material-icons {
  color: black;
}

/*  END OF NAVIGATION */
/* SEARCH PAGE */
i.heart {
  color: red;
  background-color: white;
}

.container {
  text-align: center;
}

#profile-photo-button {
  top: 0px;
  right: 14px;
  padding: 2px;
  bottom: inherit;
  position: absolute;
}

.logo-img {
  width: 35px;
  height: auto;
}

.search-page .input-field .prefix {
  position: static;
}

.search-page .input-field {
  display: flex;
  align-items: center;
}

.search-page .ingredients-we-have {
  background-color: #F6F6F6;
  color: black;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 10px 50px 10px 50px;
}

.card {
  text-align: left;
}

.card img {
  height: 280px;
  object-fit: cover;
}

.time {
  color: black;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: white;
  border-radius: 50%;
  padding: 0.3rem 0.45rem;
  font-size: 1.2rem;
  box-shadow: 0 3px 6px -4px #5b5a5a;
}

.section-search input.autocomplete {
  color: #000;
}

.input-field .prefix.active {
  color: var(--orange);
}

.input-field input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--orange);
  box-shadow: none;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #000;
}

.autocomplete-content li .highlight {
  color: var(--orange);
}

/* end of the search page */
/* BUTTON */
.radius {
  background-color: var(--orange);
  border-radius: 8px;
  text-align: center;
}

.waves-effect {
  background-color: var(--orange);
  z-index: 0;
}

.waves-effect:hover {
  background-color: #F28C17;
}

/* end of BUTTONS */
/*welcome page*/
/* ===========================================> not responsive */
.welcome {
  background: var(--orange);
  text-align: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.welcome h2 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.welcome p {
  margin: 0;
}

.logo {
  width: 150px;
  height: auto;
}

.firstBtn {
  background-color: white;
  width: 250px;
  color: var(--orange);
}

.firstBtn:hover {
  background-color: #FFA256;
}

.link {
  color: white;
  text-decoration: underline;
  font-size: 15px;
  display: inherit;
}

.login-width {
  width: 200px;
}

/* END welcome page*/
/* log in page*/
.login {
  background: var(--orange);
  text-align: center;
  color: white;
  padding: 1rem 20px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* log in page*/
/* pop up window- add new recipe */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.popup .close:hover {
  color: #F28C17;
}

.popup {
  height: 100%;
  overflow: auto;
  background-color: white;
}

/* .btn, .btn-large, .btn-small .content .add {
  z-index: 200;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
} */
.small-button {
  font-size: 15px;
  color: #F28C17;
  background-color: white;
  border-style: solid;
  border-color: #F28C17;
}

.input-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.number-step {
  padding: 5px 11px 2px 11px;
  border-radius: 50%;
  margin-right: 20px;
}

.ingredient-margin {
  margin: 0px;
  padding: 2rem;
}

.save {
  text-align: center;
}

.close {
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.delete-page {
  position: absolute;
  top: 5%;
  right: 5%;
  text-decoration: none;
  color: white;
  z-index: 5000;
}

.delete-black {
  position: absolute;
  top: 5%;
  right: 5%;
  text-decoration: none;
  color: black;
}

.delete {
  display: flex;
  text-decoration: none;
  color: #333;
}

/* end of pop up window- add new recipe */
/* favourites*/
/* END OF MY RECIPES */
/* start of recipe */
.recipe-page {
  padding: 0 20px 40px 20px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
}

.recipe-container #recipe-card-img {
  position: relative;
}

.recipe-container .recipe-floating-button {
  position: absolute;
  bottom: -10px;
}

.recipe-container .recipe-title {
  text-align: center;
}

.recipe-container img {
  width: 100%;
  height: auto;
  height: 280px;
  object-fit: cover;
}

.recipe-container .time {
  margin: 0;
}

.recipe-container h2 {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.recipe-container .recipe-ingredient, .recipe-container .recipe-step {
  background-color: #F6F6F6;
  color: black;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 10px 50px 10px 50px;
}

.recipe-container .recipe-ingredient:last-of-type {
  margin-bottom: 0;
}

.recipe-container .recipe-step {
  padding: 10px 20px;
}

.recipe-page .recipe-back-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  width: 130px;
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
}

@media only screen and (min-width: 701px) {
  .recipe-page {
    margin: 0 5%;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .recipe-page {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 1615px) {
  .recipe-page {
    margin: 0 20%;
  }
}

/* end of recipe */